{% extends "ecommerce/base.html" %}
{% load static %}

{% block title %}
    Add product
{% endblock %}

{% block body %}
<form method="POST">
    {% csrf_token %}
    <div>
        {{form.Category.label}}:
        {{form.Category}}
    </div>
    <div>
        {{form.name.label}}:
        {{form.name}}
    </div>
    <div>
        {{form.img_file.label}}:
        {{form.img_file}}
    </div>
    <div>
        {{form.size.label}}:
        {{form.size}}
    </div>
    <div>
        {{form.price.label}}:
        {{form.price}}
    </div>
    <input type="submit" value='Add product'>
</form>
{% endblock %}