{% extends "ecommerce/base.html" %}
{% load static %}

{% block body%}

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
            <h1 class="mb-0 bread">Checkout</h1>
          </div>
        </div>
      </div>
    </div>


	          <div class="row mt-5 pt-3 d-flex">
	          	<div class="col-md-6 d-flex">
	          		<div class="cart-detail cart-total bg-light p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Cart Total</h3>
	          			<p class="d-flex">
		    						<span>Subtotal</span>
		    						<span>${{ total }}</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>VAT</span>
		    						<span>21%</span>
		    					</p>
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Total</span>
		    						<span>${{ total_vat }}</span>
		    					</p>
								</div>
	          	</div>
	          	<div class="col-md-6">
	          		<div class="cart-detail bg-light p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Payment Method</h3>
									<!-- Set up a container element for the button -->
									<div id="paypal-button-container"></div>
									<!-- Include the PayPal JavaScript SDK -->
									<script src="https://www.paypal.com/sdk/js?client-id=ARH1FQy2jS58fizW_W-aaDDqiM8eUqOgJpkE4ogYY0EXQoOG2K_F9qklw4YNsCW8wiZgPaL5-DzJ0SA5&currency=USD&disable-funding=credit"></script>

									<script>
										var total = '{{total_vat}}'
										// Render the PayPal button into #paypal-button-container
										paypal.Buttons({

											style:{
												color:'blue',
												shape:'rect',
											},

											// Set up the transaction
											createOrder: function(data, actions) {
												return actions.order.create({
													purchase_units: [{
														amount: {
															value: parseFloat(total).toFixed(2)
														}
													}]
												});
											},

											// Finalize the transaction
											onApprove: function(data, actions) {
												return actions.order.capture().then(function(details) {
													// Show a success message to the buyer
													submitOrder();

													window.location.href = "{% url 'home' %}"
												});
											}


										}).render('#paypal-button-container');
									</script>
									<script type="text/javascript">
										function submitOrder(){
											alert('TRANSACTION COMPLETE')
										}
									</script>
								</div>
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->
{% endblock %}