{% extends "ecommerce/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<div class="register-form">
    <h1>Register</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            {{form.username.label}}:  
            {{form.username}}
        </div>

        <div>
            {{form.email.label}}:  
            {{form.email}}
        </div>
        
        <div>
            {{form.password1.label}}:  
            {{form.password1}}
        </div>
        <div>
            {{form.password2.label}}:  
            {{form.password2}}
        </div>
        

        {{form.errors}}
        <div class="auth-bttn">
            <input class="auth-btt-button" type="submit" name="create user" value="Confirm">
        </div>
        
    </form>
</div>
{% endblock %}