html {
    font-family: 'Recursive', sans-serif;
}

.login-form, .register-form {
    position: relative;
    text-align: center;
    margin-top: 150px;
}

.form-group {
    padding: 4px;
}

.auth-bttn {
    margin-top: 6px;
}
.auth-btt-button{
    margin-top: 10px;
    height: 50px;
    width: 130px;
    background-color: #33b5e5;
    color: white;
    border-color: #33b5e5;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}